.img-grid {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(550px, 1fr)
  );
  grid-gap: 5px;
}
.img {
  max-width: 500px;
  max-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: center;
}

@media all and (max-width: 600px) {
  .img-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    );
  }
  .img {
    max-width: 300px;
    max-height: 200px;
  }
}
